:root {
    --orange: #D5A021;
    --dark-color: #4B4237;
    --light-color: #EDE7D9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--light-color);
}

header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 25px;
    background-color: var(--orange);
    border-bottom: 3px solid black;
    flex-wrap: wrap;
    box-shadow: 5px 5px 3px darkslategray;
}
    header h2 {
        flex: 1 0 200px;
        margin: 10px 10%;
        display: inline-block;
    }
    header h2:nth-child(2) {
        width:10%;
        flex: 1 0 100px;
    }
    header a {
        text-decoration: underline;
    }
    header a:hover {
        color: teal;
    }

main {
    width: 60%;
    margin: 5vw auto;
    height: 30vw;
    text-align: center;
}

.button {
    font-size: 20px;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.1s;
    margin: 5px;
    box-shadow: 5px 5px 3px darkslategray;
}
    .button:active {
        background-color: var(--light-color);
        color: black;
        border: 3px solid var(--dark-color);
    }
#questionNum {
    text-align: left;
}
#questionDiv {
    display: none;
}
#questionText {
    text-align: left;
    padding: 10px 0;
}

#answerStatus {
    display: none;
    margin: 10px 0;
    color: #736B60;
}
    #answerStatus p {
        margin: 10px 0;
        text-align: left;
        font-style: italic;
    }

#scoreDiv {
    display: none;
}

#highScoreDiv {
    display: none;
}
#highScoreTable {
    width: 40%;
    text-align: left;
    margin: 0 auto;
}
    #highScoreTable th {
        width: 50%;
    }
    #highScoreTable tr:nth-child(odd){
        background-color: lightgray;
    }
.choiceBtn {
    display: block;
}
#clearScores {
    text-decoration: underline;
}
#clearScores:hover {
    color: var(--orange);
}

@media (hover: hover) {
    .button:hover {
        background-color: var(--light-color);
        color: black;
        border: 3px solid var(--dark-color);
    }
}